<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Wall</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link font-weight-bold" th:href="@{/}">Twiki</a>
        </li>
        <li class="nav-item">
            <div sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/process_logout}">logout</a>
            </div>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <p th:if="${exception} != null" th:text="${exception}"></p>
    <div class="row">
        <div class="col-md-2 col-sm-4 sidebar1">
            <div class="logo">
                <img src="http://lorempixel.com/output/people-q-g-64-64-1.jpg" class="img-responsive center-block"
                     alt="Logo">
            </div>
            <br>
            <div class="left-navigation">
                <ul class="list">
                    <h5><strong>Account Info</strong></h5>
                    <li th:text="|name: ${ account.name}|"></li>
                    <li th:text="|type: ${ account.accountType}|"></li>
                    <li th:text="|name: ${ account.accountStatus}|"></li>
                </ul>
                <br>
                <ul class="list">
                    <h5><strong>Options</strong></h5>
                    <a class="nav-link" th:href="@{/accounts/__${account.name}__/wall}">wall</a>
                    <a class="nav-link" th:href="@{/accounts/__${account.name}__/followed-accounts}">followed</a>
                    <a class="nav-link" th:href="@{/accounts/__${account.name}__/shared-entries}">shared</a>
                </ul>
            </div>
        </div>
        <div class="col-md-6 col-sm-4 col-md-offset-4 main-content">
            <div class="row">
                <div class="col-md-8 col-md-offset-6">
                    <form th:action="@{/posts(accountName=${account.name})}" method="post">
                        <div class="form-group">
                            <label for="entryContent">Create post</label>
                            <textarea rows="5" class="form-control" name="postContent" id="entryContent"
                                      required></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">
                                Create
                            </button>
                            <button type="reset" class="btn btn-default">
                                Cancel
                            </button>
                        </div>
                    </form>
                </div>
                <div class="container">
                    <div class="col-sm-8" th:each="post: ${account.posts}">
                        <div class="media border p-3">
                            <img src="https://bootdey.com/img/Content/user_1.jpg" alt="John Doe"
                                 class="mr-3 mt-3 rounded-circle" style="width:60px;">
                            <div class="media-body">
                                <p>
                                    <a th:href="@{/accounts/__${account.name}__/wall}">
                                        <b th:text="${account.name}">Ryan Haywood</b>
                                    </a>
                                    <small>
                                        <i th:text="|Posted on ${post.createDate}|">Posted on February 19, 2016</i>
                                    </small>
                                </p>
                                <p th:text="${post.content}">Lorem ipsum...</p>
                                <div class="stats">
                                    <a href="#" class="btn btn-default stat-item">
                                        <i class="fa fa-thumbs-up icon"></i>2
                                    </a>
                                    <a href="#" class="btn btn-default stat-item">
                                        <i class="fa fa-share icon"></i>12
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="post-footer">
                            <div class="input-group">
                                <form th:action="@{/comments/post/__${post.id}__(accountName=${account.name})}" method="post">
                                    <input class="form-control" name="commentContent" placeholder="Add a comment" type="text">
                                    <span class="input-group-addon">
                                            <button type="submit"><i class="fa fa-edit"></i></button>
                                    </span>
                                </form>
                            </div>
                            <ul class="comments-list" th:each="comment : ${post.comments}">
                                <li class="comment">
                                    <a class="pull-left" th:href="@{/accounts/__${comment.commentOwner.name}__/wall}">
                                        <img class="avatar" src="https://bootdey.com/img/Content/user_1.jpg"
                                             alt="avatar">
                                    </a>
                                    <div class="comment-body">
                                        <div class="comment-heading">
                                            <h4 class="user" th:text="${comment.commentOwner.name}">Gavino Free</h4>
                                            <h5 class="time" th:text="${comment.createDate}">5 minutes ago</h5>
                                        </div>
                                        <p class="comment-text" th:text="${comment.content}">Sure, oooooooooooooooohhhhhhhhhhhhhhhh</p>
                                    </div>
                                   <!-- <ul class="comments-list">
                                        <li class="comment">
                                            <a class="pull-left" href="#">
                                                <img class="avatar" src="https://bootdey.com/img/Content/user_3.jpg"
                                                     alt="avatar">
                                            </a>
                                            <div class="comment-body">
                                                <div class="comment-heading">
                                                    <h4 class="user">Ryan Haywood</h4>
                                                    <h5 class="time">3 minutes ago</h5>
                                                </div>
                                                <p>Relax my friend</p>
                                            </div>
                                        </li>
                                    </ul>-->
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>